@charset "UTF-8";

/* ÁREA DO BANNER */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --image-background: url("https://raw.githubusercontent.com/Muka1993/portfolio-profisional2/main/imagens/black-and-white-lights-abstract-curves.jpg");
  --color-one: #111;
  --color-two: #fff;
  --color-three: #222;
  --color-shadow: #0000001a;
}

.dark {
  --image-background: url("https://raw.githubusercontent.com/Muka1993/portfolio-profisional2/main/imagens/white-and-black-lights.jpg");
  --color-one: #fff;
  --color-two: #111;
  --color-three: #222;
  --color-shadow: #ffffffbd;
}

/* ÁREA DO BANNER */

.banner {
  position: relative;
  min-height: 100vh;
  background: var(--image-background);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.banner h2 {
  font-size: 3em;
  color: var(--color-two);
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-weight: 700;
  font-size: 1.5em;
}

.banner h3 {
  font-size: 1.5em;
  color: var(--color-two);
  font-weight: 500;
}

.botao {
  width: 29px;
  height: 22px;
  border-radius: 9px;
  background-color: var(--color-one);
  border: 1px solid var(--color-two);

  transition: all .5s ease-in-out;
}

.botao:hover {
  box-shadow: 0 0 10px var(--color-two);
}

.btn-scroll {
  position: relative;
  background: var(--color-two);
  display: inline-block;
  color: var(--color-one);
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;  
}

.btn-scroll:hover {
  background: #ddd;
}

.btn {
  position: relative;
  background: #fff;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: var(--color-two);
  padding: 20px 100px;
  box-shadow: 0 0 10px var(--color-shadow);
}

header .logo{
  color: var(--color-two);
  font-size: 24px; 
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header.sticky .logo {
  color: var(--color-one);
}

header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: var(--color-two);
  text-decoration: none;
}

header.sticky ul li a  {
  color: var(--color-one);  
}

.logo:hover {
  color: #2196f3;
}

.heading.white {
  padding: 90px 0 10px 0;
} 

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: var(--color-one); 
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;

}

/* SEÇÃO SOBRE MIM */

.about {
  padding-top: 100px;
  margin-bottom: -90px;
  background-color: var(--color-two);
  color: var(--color-one);
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 90px;
  text-align: justify;
}

.contentBx {
  padding-right: 30px;
}
.contentBx h3 {
  font-size: 24px;
  margin-bottom: 30px;
}
.w50 {
  min-width: 50%;
  padding-left: 0px;
}

.w50 img {
  margin-left: 220px;
  
}

img {
  max-width: 100%;
  
}

.hobbie {
  margin-top: 50px;
}

/* SEÇÃO PROJETOS */

.services {
  background: var(--color-one);
  padding: 10px;
}

.heading.white {
  color: var(--color-two);
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .servicesBx {
  padding: 40px 20px;
  background: var(--color-three);
  color: #fff;
  box-shadow: 0 0 5px var(--color-two);
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.services .content .servicesBx:hover {
  background: #2196f3;
  text-shadow: 1px 1px 3px black;
}

.services .content .servicesBx img {
  max-width: 300px;
  filter: infert(1);
}

.services .content .servicesBx h2 {
  font-size: 20px;
  font-weight: 600;
}


/* SEÇÃO FORMAÇÃO ACADÊMICA */

.work {
  padding: 100px 0 100px 0;
  background-color: var(--color-two);
}

.work .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.content h2 {
  margin-top: 20px;
}

.content button {
  padding: 5px;
  margin-bottom: 5px;
}

.content button:hover {
  color: var(--color-two);
  background-color: #888;
}

.work .content .workBx {
  width: 50%;
  padding: 100px;
}

.work .content .workBx img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: row;  
}

.card {
  width: 550px;
  height: 550px;
  margin: 15px;
  transition: all 1s ease-in-out;
}

.card:hover {
  transform: scale(1.2);
  border: 1px solid #272829;
}

.card h2 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  margin: 15px 0 25px 0 ;
}

.card p {
  text-align: center;
}

.bg-danger {
  margin: 10px;
  border-radius: 5px;
}

/* SEÇÃO DO CONTATO E FORMULÁRIO */

.contact {
  background-color: var(--color-one);
  display: flex;
  padding: 50px;
  
}

.formBx {
  min-width: 60%;
  width: 500px;
  margin: 100px 200px 50px 0;  
}

.formBx form {
  display: flex;
  flex-direction: column;
}

.formBx form h3, .contactInfo {
  color: var(--color-two);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.formBx form input, .formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: var(--color-three);
  color: var(--color-two);
  resize: none;
}

.formBx form textarea {
  min-height: 200px;
}

.formBx form input::placeholder, 
.formBx form textarea::placeholder {
  color: #8d8c8c;
}

.formBx form input[type="submit"] {
  max-width: 100px;
  background: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contactInfo {
  min-width: 40%;
}
.contactInfoBx {
  position: relative;
}

.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: var(--color-two);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: var(--color-two);
  flex-direction: column;
  font-weight: 300;
}

.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #2196f3;
  margin-bottom: 0;
}

input, textarea {
  box-shadow: 0 0 3px var(--color-two);
}

/* RODAPÉ */

.copyright {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgb(59, 58, 58);
}

.copyright img {
  width: 25px;
  height: 25px;
  transition: all 500ms ease-in-out;
}

.copyright img:hover {
  transform: scale(1.2);
}


/* RESPONSIVIDADE */

/* MEDIA 1500px */

@media (max-width: 1500px) {
  html {
    overflow-x: hidden;
  }

  .work {
    display: flex;
    flex-wrap: wrap;
    
  }

  .work .content .workBx {
    width: 100%;
    padding-left: 10px;
  }

  .work h2{
    font-size: 24px;
  }

  .container {
    display: flex;
    
  }

  .card {
    font-size: 15px;
    width: 300px;
    height: 300px;
  }


}


/* MEDIA 991px */

@media (max-width: 991px) {
  header, header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }

  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 50%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;    
    border-top: 1px solid rgba(0,0,0,0.2)
  }

    .menu.active {
    left: 0;
  }

  header ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }

  .toggle {
    width: 40px;
    height: 40px;
    background: url(/imagens/lista-black.png);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  .toggle.active {
    width: 40px;
    height: 40px;
    background-color: #d6d6d6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  section {
    padding: 10px 50px;
  }

  .banner {
    padding: 150px 50px 100px;
  }

  .banner h2 {
    font-size: 1.9em;
  }

  .banner h3 {
    font-size: 1em;
  }

  .about {
    padding-bottom: 0px;
    margin-bottom: -110px;
  
  } 

  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .contentBx h3 {
    font-size: 20px;
  }

  .content {
    flex-direction: column;
    margin: 10px 0 89px 5px;
  }

  .w50 {
    margin-bottom: 20px;
  }

  .service .content .serviceBx {
    align-items: center;
    margin: 10px; 
  }

  .service {
    display: flex;
    flex-wrap: wrap;
  }

  .work {
    display: flex;
    flex-wrap: wrap;
  }

  .work .content .workBx {
    width: 100%; 
  }

  .work h2{
    font-size: 24px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    
  }

  .card {
    align-items: center;
    font-size: 15px;
    width: 300px;
    height: 300px;
  }

  .card h2 {
    font-size: 18px;
  }

  .card p {
    text-align: center;
    font-size: 15px;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .formBx {
    min-width: 60%;
    width: 690px;
    margin: 0px 20px 50px 100px;
  }
}

/* MEDIA 860px */

@media (max-width: 860px){
  .formBx {
    min-width: 60%;
    width: 650px;
    margin: 0px 20px 50px 50px;
  }
}

@media (max-width: 700px){
  html body {
    overflow-x: hidden;
    
  }

  .container {
    display: flex;
    flex-wrap: wrap;
   
  }

  .card {
    width: 550px;
  }

  .work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
  } 

  .card {
    
    width: 350px;
    height: 350px;
  }

  .contact {
    display: flex;
    flex-direction: column;
   
  }

  .formBx {
    margin: -20px 0 0 50px;
  }
}

/* MEDIA 600px */

@media (max-width: 600px)  {
  html body {
    overflow-x: hidden;
  }

  .toggle {
    width: 40px;
    height: 40px;
    background: url(/imagens/lista-black.png);
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  .toggle.active {
    width: 40px;
    height: 40px;
    background-color: #d8d8d8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  header, header.sticky {
    padding: 30px 30px;
  }

  .banner {
    padding: 10px 20px 100px;
  }

  .about {
    padding-bottom: 0px;
    margin-bottom: -110px;
  } 

  .content {
    width: 400px;
    text-align: justify;
  }

  .w50 img {
    position: relative;
    right: 200px;
  }

  .content {
    flex-direction: column;
    margin: 10px 0 89px 80px;
  }

  .w50 {
    margin-bottom: 20px;
  }

  .service .content .serviceBx {
    align-items: center;
    margin: 10px; 
  }

  .service {
    display: flex;
    flex-wrap: wrap;
   
  }

  .work {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 100px;
  }

  .work .content .workBx {
    width: 100%; 
  }

  .work h2{
    font-size: 24px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
   
  }

  .card {
    align-items: center;
    font-size: 15px;
    width: 300px;
    height: 300px;
  }

  .card h2 {
    font-size: 18px;
  }

  .card p {
    text-align: center;
    font-size: 15px;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .formBx {
    min-width: 60%;
    width: 500px;
    margin: -50px 20px 50px 0px;
  }
}

/* MEDIA 500px */

  @media (max-width: 500px) {

    html body {
      overflow-x: hidden;
      padding: 0;
      margin: 0;
    }

    .toggle {
      width: 40px;
      height: 40px;
      background: url(/imagens/lista-black.png);
      background-color: rgb(255, 255, 255);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      cursor: pointer;
    }

    .toggle:hover {
      transform: scale(1.1);
    }
  
    .toggle.active {
      width: 40px;
      height: 40px;
      background-color: #999;
      background: url(/imagens/lista-black.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      cursor: pointer;
    }

    section {
      margin: 0;
      padding: 0;
    }

    .about {
      display: flex;
      flex-direction: column;
      margin: 10px 0px -110px 19px;
      background-color: var(--color-two);
      color: var(--color-one);
    }
    
    .content {
      justify-content: space-between;
      text-align: justify;
    }
    
    .contentBx {
      margin-left: 55px;
    }
    .contentBx h3 {
      font-size: 24px;
      margin-bottom: 30px;
    }
    .w50 {
      min-width: 50%;
      padding-left: 0px;
    }
    
    .w50 img {
      margin-left: 270px;
      
    }
    
    img {
      max-width: 100%;
      
    }
    
    .hobbie {
      margin-top: 50px;
    }

  .content {
    width: 455px;
    margin: 10px 1px 0px 1px;
    padding: 0;
  }

  .services {
    margin-top: 90px;
    
  }

  .container {
    display: flex;
    flex-wrap: wrap;
   
  }

  .card {
    width: 250px;
    align-items: center;
    margin-right: 110px;
    
  }

  .servicesBx {
    margin: 0;
    padding: 0; 

    }

  .work {
    margin: 0 ;
    padding-left: 55px;
      
    }     

  .contact {
    display: flex;
    flex-direction: column;
    }
  
  .formBx {
    min-width: 60%;
    width: 380px;
    margin: 0px 20px 50px 10px;
    }
  

  .copyright p {
    font-size: 14px;
  }

  }
  
/* MEDIA 700px */

  @media (max-width: 720px) {
    html body {
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }

    .container {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row; 
       width: 100%;
       

     }
  
    .card {
     width: 650px;
     height: 50px;
     margin-left: 110px;
    }

    .servicesBx {
      margin: 0;
      padding: 0; 
  
      }
  
    .work {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      } 
       
  
    .contact {
      display: flex;
      flex-direction: column;
      }
    
    .formBx {
      min-width: 100%;
      width: 400px;
      margin: 0px 20px 50px 10px;
      }
  }

  @media (max-width: 817px) {
    html body {
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }

    .container {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row; 
       width: 100%;
     }
  
    .card {
     width: 310px;
     height: 150px;
    }

    .servicesBx {
      margin: 0;
      padding: 0; 
  
      }
  
    .work {
      margin: 0;
      } 
       
  
    .contact {
      display: flex;
      flex-direction: column;
      }
    
    .formBx {
      min-width: 100%;
      width: 400px;
      margin: 0px 20px 50px 10px;
      }
  }

